<section class="phx-hero">
  <h1><%= gettext "Welcome to %{name}!", name: "Random Space Images" %></h1>

</section>

<section class="row">
<input id="interval-input" type="text"></input>
</section>

<div class="row">
<h4>Interval is:<span id="interval"></span></h4>
</div>


<hr>
<div id="url"></div>
