/* This file is for your main application css. */
// @import "./phoenix.css";

/* Alerts and form errors */
.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}
.alert-info {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
}
.alert-warning {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
}
.alert-danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}
.alert p {
  margin-bottom: 0;
}
.alert:empty {
  display: none;
}

body {
	background: #2b3130;
	color: #cccccc;
	font-family: "Source Code Pro", monospace;
	font-size: 14pt;

  }

.space-img{
	width: 45rem;
	height: 35rem;
	
}

#messages{
	overflow-y: scroll; 
	height: 100%;
}

#online-users{
	overflow-y: scroll; 
	height: 50rem;
}

.current-users-h3{
	text-align: right;
}

#pres{
	overflow: scroll;
}

.chat-cont{
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	// height: 70vh;
	
}
.chat-item{
	
	border: 1px solid #ad7000;
}

.flex-6{
	flex: 5;
	display: flex;
    justify-content: space-around;
}
.flex-3{
	flex: 3;
	// text-align: center;
	height: 50rem;
}

.flex-1{
	flex: 1;
	text-align: center;
	height: 50rem;
}
